@font-face {
    font-family: 'SanJiHuaChaoTi-Cu-2';
    src: url(./assets/fonts/SanJiHuaChaoTi-Cu-2.ttf);
}
@font-face {
    font-family:'YeZiGongChangTianQingSong-2'; ;
    src: url(./assets//fonts/YeZiGongChangTianQingSong-2.ttf);
}